/*
    COLOR PALLETE

    Ivory       #e3e6e0, #f2f5f0
    Black       #252930
    Khaki       #c0b3a0
    Blue Gray   #6b8490, #475f73
*/

html {
    box-sizing: border-box;
    font-size: 62.5%; /* set default to 10px */
    overflow-x: hidden;
}
 
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: "Amethysta", serif;
    color: #252930;
    background: #e3e6e0;
}

h1, h2, h3 {
    font-family: "Cinzel", serif;
    font-weight: 400; /* make default font weight */
    margin: 0; /* remove all margins */
    letter-spacing: 0.05em;
}

h1 {
    font-size: 4rem;
    line-height: 1.3;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.3rem;
}

p {
    font-family: "Amethysta", serif;
    font-size: 1.8rem; /* equivalent to 18px */
    margin: 20px 0;
    line-height: 1.4;
}

header {
    color: #f2f5f0;
}

/* ------------------------------------------------ */

/* ---------------- NAV BAR ----------------------- */

nav {
    background-color: #475f73;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    z-index: 2;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end; /* puts on the right side */
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f2f5f0;
}

nav a:hover {
    background-color: #607d95;
}

nav li:first-child {
    margin-right: auto;
}

.activeNav {
    text-decoration: underline #f2f5f0;
    text-underline-offset: 4px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999; /* always puts navbar on top of other elements */
    background-color: #475f7370; /* rgba(255, 255, 255, 0.117); */
    backdrop-filter: blur(10px); /* gives a glass effect when background color has transparency */
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start; /* starts from the top */
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-icon {
    display: none;
}

/* nav bar items not shown on smaller and mobile size screens, show menu icon */
@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-icon {
        display: flex;
    }
}

/* nav bars fills entire mobile screen when < 400px*/
@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

/* ------------------------------------------------ */


/* ------------- THREE.JS AT THE TOP -------------- */

.portfolio header canvas {
    position: absolute;
    top: 50px;
    left: 0;
}

#scene-container {
    top: 0;
    left: 0;
    width: 100vw;
    height: 375px;
    margin: 0 auto;
}

.portfolio .container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.portfolio .content {
    display: flex;
    gap: 5em;
    width: 100%;
    padding-top: 3em;
    position: relative;
}

.portfolio .content:before {
    content: '';
    position: absolute;
    top: 0; /* in relation to parent container content */
    left: 0;
    width: 100%;
    border-bottom: 1px solid white;
    transform: scaleX(1);
}

.portfolio .container h1 {
    width: 50vw;
    font-size: 4rem;
    font-family: "Cinzel", serif;
    font-weight: 400; /* make default font weight */
    line-height: 97%;
    text-align: center;
}

.portfolio .container h1, .portfolio .container p {
    flex-basis: 0; /* 50% 2-colum layout */
    flex-grow: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* hides everything */
    /* only what is visible shows up - will be animated to show more */
}

.portfolio .container p {
    width: 40vw;
    line-height: 2;
    text-align: left;
    margin: 0;
}

/* ------------------------------------------------ */

/* -------------- PORTFOLIO LAYOUT ---------------- */

.portfolio .content-wrapper {
    display: flex;
    flex-direction: column;
}

.portfolio main {
    flex: 1 0 auto;
    color: #252930;
}

.portfolio main canvas {
    position: absolute;
    top: 425px;
    left: 0;
}

#main-scene {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    margin: 0 auto;
}

.portfolio .project-section {
    position: relative;
    z-index: 1;
    max-width: 75vw; /* width 75% of viewport width */
    margin: 0 auto; /* centers project-section on page */
    justify-content: center; /* centers columns */
    display: grid; /* content of project-section will be in grid */
    grid-template-columns: repeat(2, 40%); /* 2 cols of same width */
    grid-auto-rows: auto; /* rows will be 200px in height */
    column-gap: 100px;
    row-gap: 100px;
    padding: 30px;
    /* gap: 50px; */
}

.portfolio .project-item {
    background: #e3e6e0;
    padding: 10px;
    border: 15px ridge black;

}

.portfolio .project-item img, .project-images img {
    width: 100%;
}

@media screen and (max-width: 870px) {
    .portfolio .project-section {
        /* background: rgb(30, 76, 107); */
        /*max-width: 75vw; /* width 75% of viewport width */
        margin: 0 auto; /* centers project-section on page */
        /*justify-content: center; /* centers columns */
        display: grid; /* content of project-section will be in grid */
        grid-template-columns: repeat(1, 90%); /* 2 cols of 200px width */
        grid-auto-rows: auto; /* rows will be 200px in height */
        column-gap: 100px;
        row-gap: 100px;
        padding: 30px;
        /* gap: 50px; */
    }

}

/* ------------------------------------------------ */

/* --------------- ABOUT / BIO PAGE --------------- */

.about {
    display: flex;
    flex-direction: column;
}

.about header {
    color: #252930;
}

.about .content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
    flex: 1 0 auto;
    z-index: 1;
}

.about .content-bg {
    background: #e3e6e0e6;
    padding: 30px;
}

#bg {
    width: 100vw;
    height: 100vh;
}

.about canvas {
    position: absolute;
}

@media screen and (max-width:650px) {
    .about .content-wrapper {
        padding: 10px;
    }
    .about .content-bg {
        padding: 20px;
    }
}

/* ------------------------------------------------ */

.project-page h2 {
    border-bottom: 2px dashed #6b8490;
    margin-bottom: 15px;
}

.project-page iframe {
    width: 100%;
    height: 720px;
}

#sine-animation-iframe {
    width: 100%;
    height: 480px;
}

#treasure-haunt-iframe {
    margin-left: -30px;
    width: 910px;
    height: 620px;
}

.project-grid-img {
    position: relative;
    z-index: 1;
    max-width: 75vw; /* width 75% of viewport width */
    margin: 0 auto; /* centers project-section on page */
    justify-content: center; /* centers columns */
    display: grid; /* content of project-section will be in grid */
    grid-template-columns: repeat(2, 50%); /* 2 cols of 300px width */
    grid-auto-rows: auto; /* rows will be 200px in height */
    column-gap: 50px;
    row-gap: 50px;
    padding: 15px;
}

/* --------------- RESUME --------------- */
.resume header::before {
    background: url(../images/resume-img/bg-home-office-city.jpg) center;
    background-size: cover;
    content: '';
    display: block;
    height: 375px;
}

.resume header {
    color: #252930;
}

.resume .btn {
    background:#6b8490;
    color: #f2f5f0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4px;
}

.resume .content-wrapper, .content-wrapper-main {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

.resume-section {
    margin-bottom: 50px;
}

.resume-section h2 {
    border-bottom: 2px dashed #6b8490;
}

.resume .download-link {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.6rem;
}

/* links */
.resume main a, .project-page main a {
    color: #6b8490;
}

.resume main a:hover, .project-page main a:hover {
    color: #c0b3a0;
    text-decoration: none;
}

.resume main a, .resume main li {
    font-family: "Amethysta", serif;
    font-size: 1.8rem; /* equivalent to 18px */
    line-height: 1.4;
}

.resume main li {
    margin-left: 30px;
}

.resume .project-item li:first-child {
    padding-top: 15px;
}
.resume .project-item li:last-child {
    padding-bottom: 15px;
}

/* will be applied to any screen 1200px or smaller */
@media screen and (max-width:1200px) {
    .resume .download-link {
        position: absolute;
    }
}

@media screen and (max-width:650px) {
    .resume header::before {
        height: 200px;
    }
    .resume h1 {
        font-size: 3rem;
    }
    .resume h2 {
        font-size: 2.3rem;
    }
    .resume h3 {
        font-size: 2rem;
    }
}

/* ---------- Resume Projects ---------- */
.resume .project-item {
    margin: 30px 0; /* 30px for top/bottom, 0px for left/right */
}

.resume .project-item img {
    width: 300px;
}

.resume .project-item ul, .resume .project-item .btn {
    clear: both; /* return to normal flow */
}

@media screen and (min-width:860px) { /* any styles here will be applied at 860px for larger */
    .resume .project-item {
        display: flow-root;
    }
    .resume .project-item img {
        float: left; /* for text to flow around the image */
        margin-right: 20px;
    }
}

/* styles will only be applied when viewport is 650px to max of 859px */
/* one column, two columns, then floated styles */
@media screen and (min-width:650px) and (max-width:859px) {
    .resume .project-wrapper { /* using this class as the grid container */
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* two cols of equal width */
        column-gap: 20px;
    }
    .resume .project-item img {
        width: 100%; /* image to flex to size of columns, which are relative to view port */
    }
}

@media screen and (max-width:650px) {
    .resume .project-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* ---------- Resume Work Experience ---------- */
.work-item {
    margin: 30px 0;
}

.work-details p {
    margin: 0;
}

/* adds grid styles to viewports that are larger than 860px */
@media screen and (min-width:860px) {
    .work-item {
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 20px;
    }
    .work-summary p:first-child {
        margin-top: 0;
    }
}

/* ---------- Education on Resume ---------- */
.education-item {
    margin: 30px 0;
}
.educaton-item p {
    margin: 0;
}

